* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Alice", serif;
    color: #573A37;
}

body {
    background-image: url(assets/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 16px;
}

#page {
    max-width: 800px;
    width: 100%;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

main {
    padding: 24px 0;
}

section + section {
    margin-top: 24px;
}

#about p + p {
    margin-top: 12px;
}

h1 {
    line-height: 140%;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
    margin-top: 4px;
}

h1, h2, h3 {
    color: #573A37;
    margin-bottom: 4px;
    line-height: 150%;
}

ul {
    padding-left: 24px;
}

/* Responsividade */
@media (max-width: 600px) {
    #page {
        padding: 16px;
        border-radius: 16px;
        margin: 24px auto;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1rem;
    }

    body {
        padding: 8px;
    }
}
