* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --brand-color: #8B0000;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #d9d9d9;
    --shape-transparency: #ffffff90;
    --text-color-primary: #313131;
    --text-color-secondary: #6c6c6c;
}